/* Colors
#8fb61c
#516b0a;
#294402

#90a955
#31572c
#132a13
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: -webkit-fill-available;
}

body {  
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-y: hidden;
  background: white;
  color: black;
}
#coor{
  position: fixed;
  top: 10px;
  left: 10px;
}

.slider {
  font-family: sans-serif;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
}

section {
  /* border-right: 1px solid rgb(247, 0, 0); */
  /* padding: 1rem; */
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  overflow-y: hidden;
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}

.ele1{
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50vw;
  border: red solid 1px;
}
.ele2{
  position: absolute;
  top: 200px;
  left: 0;
}

.happy{
  position: absolute;
  bottom: 0;
  left: -1vw;
  width: 102vw;
}
.flower{
  position: absolute;
  top: 20vh;
  left: 10vw;
  width: 30vw;
  height: 30vw;
  border: black solid 1px;
}
.flower1{
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
}
.flower2{
  position: absolute;
  top: 30%;
  left: 0%;
  width: 10vw;
}
.flower3{
  position: absolute;
  top: 0%;
  left: 40%;
  width: 10vw;
}
.flower4{
  position: absolute;
  top: 10%;
  left: 27%;
  width: 10vw;
}
.flower5{
  position: absolute;
  top: 20%;
  left: 25%;
  width: 5vw;
}
.flower6{
  position: absolute;
  top: 25%;
  left: 35%;
  width: 2vw;
}
.flower7{
  position: absolute;
  top: 27%;
  left: 40%;
  width: 3vw;
}
.flower8{
  position: absolute;
  top: 15%;
  left: 60%;
  width: 6vw;
}
.flower9{
  position: absolute;
  top: 42%;
  left: 56%;
  width: 4vw;
}

.flowerp{
  position: absolute;
  top: 10vh;
  left: 50vw;
  width: 30vw;
  height: 30vw;
  border: black solid 1px;
}

.fpart{
  opacity: 0;
}
.rugiada{
  opacity: 1;
}

/* JS added */
.jspic{   
  position: absolute;
  top: 20vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: linear;
  animation-name: pic;
  animation-duration: 3s;
}

@media (orientation: portrait) { 
  .hand{
    position: absolute;
    top: 80vh;
    left: 80vw;
    /* border: blue solid 1px; */
    animation: linear infinite;
    animation-name: run;
    animation-duration: 2s;
  }
  .hand img{
    height: 10vh;
    opacity: .5;
  }
  .back{
    position: absolute;
    top: 30vh;
  }
  .back img{
    height: 70vh;
    width: 100vw;
  }
  .bkup{
    transform: scaleX(-1);
  }
  .imgsoap{
    position: absolute;
    top: 0vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgsoap img{
    width: 50vw;
    filter: drop-shadow(0px 5px 5px #222);
  }




  
}
@media (orientation: landscape) {



}

@keyframes pic {
  0% {
    top: -30vh;
    opacity: 0;
  }
  100% {
    top: 20vh;
    opacity: 1;
  }
}


@keyframes run {
  0% {
    left: 80%;
    opacity: 0;
  }
  20% {
    opacity: 1;    
  }
  80% {
    opacity: 1;    
  }
  100% {
    left: 60%;
    opacity: 0;    
  }
}